ul{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
li {
    padding: 20px;
    background-color: rgb(156, 224, 236);
    color: white;
    margin-bottom: 15px;
    width: 70%;
    align-items: center;
}

#closeLi {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;        
    transition: 0.3s;
}